.DS_Store
__pycache__
.vscode
input/video
output/
face_bank
.idea
.vs
datasets/*
*-checkpoint.ipynb
.ipynb_checkpoints
wandb
work_dirs

weights/glint360k_cosface_r18_fp16_0.1.pth
weights/ms1mv3_arcface_r18_fp16.pth
weights/model_ir_se50.pth