scipy==1.4.1
dlib==19.21.0
tqdm==4.48.0
torch==1.6.0+cpu
bcolz==1.2.1
opencv_python_headless==4.3.0.36
torchvision==0.7.0+cpu
numpy==1.17.4
easydict==1.9
mxnet==1.6.0
matplotlib==3.2.0
imutils==0.5.3
Pillow==7.2.0
PyInstaller==4.0
scikit_learn==0.23.2
seaborn==0.11.0
tensorboardX==2.1
threadpool==1.3.2
