torch==1.6.0+cpu
bcolz==1.2.1
easydict==1.9
opencv_python==4.3.0.36
torchvision==0.7.0+cpu
dlib==19.21.0
gdown==3.12.2
matplotlib==3.2.0
numpy==1.17.4
mxnet==1.6.0
scipy==1.4.1
tqdm==4.48.0
Pillow==7.2.0
PyInstaller==4.0
scikit_learn==0.23.2
tensorboardX==2.1
